# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
gradlew
gradlew.bat

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Other
reminder.txt
